.Rproj.user
.Rhistory
.RData
.Ruserdata
debug.log
R/debug.log
Data/Adj_monthly_snow - Copy/
Data/Adj_monthly_total_prec_cleaned - Copy/
Adj_monthly_total_cleaned - Copy/
Homog_monthly_sea_level_pressure/
Homog_monthly_station_pressure/
Homog_monthly_wind_speed/
Surface CO2 from NOAA/
Surface MH4 from NOAA/



*.rds
